<style type="text/css">
    .c-admix-ratios svg {
        font-size: 12px;
    }

    .c-admix-ratios .foreground path {
        fill: none;
        stroke-opacity: .5;
        stroke-width: 1.5px;
    }

    .c-admix-ratios .foreground path.fade {
        stroke: #000;
        stroke-opacity: .05;
    }

    .c-admix-ratios .axis line, .axis path {
        fill: none;
        stroke: #000;
    }

    .c-admix-ratios .axis text {
        text-shadow: 0 1px 0 #fff;
        cursor: move;
    }
</style>
<div class="c-admix-ratios"></div>