<style type="text/css">
    .c-admix-ratios svg {
        font-size: 11px;
    }

    .c-admix-ratios .admix-columns line {
        stroke: #AD8FCC;
    }

    .c-admix-ratios .admix-columns rect {
        stroke: none;
        fill: steelblue;
    }
</style>
<div class="c-admix-ratios"></div>
