<style type="text/css">
    .c-admix-ratios svg {
        font-size: 12px;
    }

    .c-admix-ratios .foreground path {
        fill: none;
        stroke-opacity: .5;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 5,1,5;
    }

    .c-admix-ratios .axis line, .axis path {
        fill: none;
        stroke: #000;
    }

    .c-admix-ratios .axis text {
        text-shadow: 0 1px 0 #fff;
        cursor: move;
    }
</style>
<div class="c-admix-ratios"></div>