<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        {{#each headers}}
        <th>{{label}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each rows}}
    <tr>
        {{#each values}}
            {{#if pivotColumn}}
                <td id="{{pivotId}}"></td>
            {{/if}}
            {{#unless pivotColumn}}
            <td>
                <ul class="nav nav-list">
                    {{#each .}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
            </td>
            {{/unless}}
        {{/each}}
    </tr>
    {{/each}}
    </tbody>
</table>