<div class="container-slidedeck-inputs modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Brady's Slide Deck</h3>
    </div>
    <div class="modal-body">
        <h4>Burden Test Scores (Slide 7)</h4>
    </div>
    <div class="modal-footer">
        <button class="btn add-to-current-slide">Add to Slide</button>
        <button class="btn add-to-current-slide">Add to New Slide</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
